{% extends "envportal/base.html" %}
{% block title %} - About {% endblock %}
{% block breadcrumbs %}
    <li class="active">About</li>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3>About EnvPortal</h3>

    <h5>EnvPortal is a website designed to make it easy for anyone to learn about
      environmental events and resources in their area.</h5>

    <h5>This site provides several resources to allow users to explore and experience
      environmental outreach near them. </h5>

    <h5>One can use the Find Resources feature to search the area near them for
      various different types of local/community environmental resources, such
      as lumber mills and recycling centers.</h5>

    <h5>There is also the Find Events feature, which allows users to view a list of
      events being run in their area among a variety of categories. Events are viewed
      by date, allowing users to easily tell what events they could attend.</h5>

    <h5>If you don't find an event you like, you can feel free to create your own!
      Users are encouraged to organize their own events using the site, which allows
      the events to get noticed and get more attendance than the average backyard
      protest.</h5>



  </div>
{% endblock %}
