{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>EnvPortal{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'envportal/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'fullcalendar/fullcalendar.css' %}"/>
    <link rel="stylesheet" href="{% static 'envportal/css/datepicker.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'envportal/css/bootstrap-timepicker.css' %}" media="screen">
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'envportal/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'envportal/js/bootstrap-timepicker.js' %}"></script>
    <script>
      $(document).ready(function() {
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
        $('#calendar').fullCalendar({
          aspectRatio: 2,
          events: [
            {
              title: "Trash Pickup",
              start: "2016-05-05T12:30:00",
              allDay: false,
              url: "{% url 'trash_pickup' %}"
            },
            {
              title: "Lobby Oil Bill Change",
              start: "2016-05-17T08:30:00",
              allDay: false,
              url: "{% url 'oil_bill' %}"
            },
            {
              title: "Volunteer at Rochester Volunteer Center",
              start: "2016-05-14T09:00:00",
              allDay: false,
              url: "{% url 'volunteer' %}"
            },
            {
              title: "Tree Planting",
              start: "2016-05-30T13:00:00",
              allDay: false,
              url: "{% url 'tree_planting' %}"
            }
            ],
            eventClick: function(event) {
              if (event.url) {
                window.open(event.url,_self);
                return false;
              }
            }
        })
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">EnvPortal</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'calendar' %}">Find an Event</a></li>
            <li><a href="{% url 'find_resources' %}">Find Resources</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'log_in' %}">Log In</a></li>
            <li><a href="{% url 'sign_up' %}">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Breadcrumbs: add your page to this list -->
    <ul class="breadcrumb">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
		{% block breadcrumbs %}{% endblock %}

    </ul>
  <!-- End Breadcrumbs -->

  {% block content %}
  {% endblock %}
  </body>
</html>
