{% extends 'envportal/base.html' %}
{% block title %} - Calendar {% endblock %}
{% block breadcrumbs %}<li class="active">Events</li>{% endblock %}
{% block content %}
	<div class="container-fluid">
	<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Calendar</h3>
	</div>
	<div class="panel-body">
		<div class="wrapper">
		<div class="header">
		<p>March 2016</p>
		</div><!-- end header -->
			<div class="calendar-body">
				<div class="row weekdays">
					<div class="col-lg-1"><p>Sunday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Monday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Tuesday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Wednesday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Thursday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Friday</p></div><!-- end col-lg-1 -->
					<div class="col-lg-1"><p>Saturday</p></div><!-- end col-lg-1 -->
				</div><!-- end row -->

				<div class="row dates">
					<div class="col-lg-1"><p class="inactive">28</p></div>
					<div class="col-lg-1"><p class="inactive">29</p></div>
					<div class="col-lg-1"><p>1</p></div>
					<div class="col-lg-1"><p>2</p></div>
					<div class="col-lg-1"><p>3</p></div>
					<div class="col-lg-1"><p>4</p></div>
					<div class="col-lg-1"><p>5</p></div>
				</div><!-- end row -->

				<div class="row dates">
					<div class="col-lg-1"><p>6</p></div>
					<div class="col-lg-1"><p>7</p></div>
					<div class="col-lg-1"><p>8</p></div>
          <div class="col-lg-1"><a href="{% url 'event_more_info' %}"><p>9</p></a></div>
					<div class="col-lg-1"><p>10</p></div>
					<div class="col-lg-1"><p>11</p></div>
					<div class="col-lg-1"><p>12</p></div>
				</div><!-- end row -->

				<div class="row dates">
					<div class="col-lg-1"><p>13</p></div>
					<div class="col-lg-1"><p>14</p></div>
          <div class="col-lg-1"><a href="{% url 'event_more_info' %}"><p>15</p></a></div>
					<div class="col-lg-1"><p>16</p></div>
					<div class="col-lg-1"><p>17</p></div>
					<div class="col-lg-1"><p>18</p></div>
					<div class="col-lg-1"><p>19</p></div>
				</div><!-- end row -->

				<div class="row dates">
					<div class="col-lg-1"><p>20</p></div>
					<div class="col-lg-1"><p>21</p></div>
					<div class="col-lg-1"><p>22</p></div>
					<div class="col-lg-1"><p>23</p></div>
					<div class="col-lg-1"><p>24</p></div>
					<div class="col-lg-1"><p>25</p></div>
					<div class="col-lg-1"><p>26</p></div>
				</div><!-- end row -->	

				<div class="row dates">
					<div class="col-lg-1"><p>27</p></div>
					<div class="col-lg-1"><p>28</p></div>
					<div class="col-lg-1"><p>29</p></div>
					<div class="col-lg-1"><a href="{% url 'event_more_info' %}"><p>30</p></a></div>
					<div class="col-lg-1"><p>31</p></div>
					<div class="col-lg-1"><p>1</p></div>
					<div class="col-lg-1"><p>2</p></div>
				</div><!-- end row -->

				<div class="line"></div>
			</div><!-- end calendar-body -->
		</div><!-- end wrapper -->
		</div>
	</div>
	</div>
{% endblock %}
