{% extends "envportal/base.html" %}
{% block title %} - Create Event- Confirmation{% endblock %}
{% block content %}
    <div class="container-fluid">
      <h3>Thank you for creating an event!</h3>

      <p>Your event is now on EnvPortal and open to the public!</p>

      <p>You can view your event by clicking on the "Okay" button below.</p>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-1">
          <a href="event_more_info.html" class="btn btn-primary">Okay</a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}

