{% extends "envportal/base.html" %}
{% block title %} - Create Events{% endblock %}
{% block content %}
	<!-- Input form for Creating Event -->
	<div class="container-fluid col-lg-5">
      <form class="form-horizontal">
        <fieldset>
          <legend>Create Event</legend>
          <div class="form-group">
            <label for="eventTitle" class="col-lg-3 control-label">Event Title</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="eventTitle" placeholder="Event Title">
            </div>
          </div>
          <div class="form-group">
            <label for="about" class="col-lg-3 control-label">About</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="about" placeholder="About">
            </div>
          </div>
          <div class="form-group">
            <label for="dateAndTime" class="col-lg-3 control-label">Date and Time</label>
            <div class="col-lg-9">
				<select  class="form-control" id="month">
					<option>January</option>
					<option>February</option>
					<option>March</option>
					<option>April</option>
					<option>May</option>
					<option>June</option>
					<option>July</option>
					<option>August</option>
					<option>September</option>
					<option>October</option>
					<option>November</option>
					<option>December</option>
				</select>
				<select  class="form-control" id="day">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
					<option>13</option>
					<option>14</option>
					<option>15</option>
					<option>16</option>
					<option>17</option>
					<option>18</option>
					<option>19</option>
					<option>20</option>
					<option>21</option>
					<option>22</option>
					<option>23</option>
					<option>24</option>
					<option>25</option>
					<option>26</option>
					<option>27</option>
					<option>28</option>
					<option>29</option>
					<option>30</option>
					<option>31</option>
				</select>
				<input type="text" class="form-control" id="startTime" placeholder="12:00">
				<select  class="form-control" id="startAMPM">
					<option>AM</option>
					<option>PM</option>
				</select>
				<input type="text" class="form-control" id="endTime" placeholder="12:00">
				<select  class="form-control" id="endAMPM">
					<option>AM</option>
					<option>PM</option>
				</select>
            </div>
          </div>
          <div class="form-group">
            <label for="location" class="col-lg-3 control-label">Location</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="location" placeholder="Location">
            </div>
          </div>
		  </br>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-3">
              <button type="reset" class="btn btn-default">Cancel</button>
              <a href="{% url 'user_dashboard' %}" class="btn btn-primary">Submit</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
	
  </body>
  {% endblock %}
