{% extends "envportal/base.html" %}
{% block title %} - Edit Events{% endblock %}
{% block content %}
    <div class="container-fluid col-lg-5">
      <form class="form-horizontal">
        <fieldset>
          <legend>Edit Event</legend>
          <div class="form-group">
            <label for="eventTitle" class="col-lg-3 control-label">Event Title</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="eventTitle" value="Tree Planting">
            </div>
          </div>
          <div class="form-group">
            <label for="about" class="col-lg-3 control-label">About</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="about" value="Come plant trees with RIT!">
            </div>
          </div>
          <div class="form-group">
            <label for="startDateTime" class="col-lg-3 control-label">Start Date and Time</label>
            <div class="col-lg-9">
              <input data-provide="datepicker" class='datepicker' value="05/30/2016">
              <input data-provide="timepicker" class='timepicker' value="01:00PM">
            </div>
          </div>
          <div class="form-group">
            <label for="endDateTime" class="col-lg-3 control-label">End Date and Time</label>
            <div class="col-lg-9">
              <input data-provide="datepicker" class='datepicker' value="05/30/2016">
              <input data-provide="timepicker" class='timepicker' value="04:00PM">
            </div>
          </div>
          <div class="form-group">
            <label for="location" class="col-lg-3 control-label">Location</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="location" value="RIT">
            </div>
          </div>
		  </br>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-3">
              <button type="reset" class="btn btn-default">Cancel</button>
              <a href="{% url 'user_dashboard_edited' %}" class="btn btn-primary">Submit</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </body>
  {% endblock %}
