{% extends "envportal/base.html" %}
{% block title %} - Email Confirmation {% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
    <li class="active">Email Confirmation</li>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3>Thank you for signing up for EnvPortal!</h3>

    <p>The last step to creating an account is confirming your email address.</p>

    <p>Please enter the code found in your email to log in.</p>
    <div class="form-group col-lg-4">
      <label class="control-label" for="validationCode">Validation Code</label>
      <input class="form-control" id="validationCode" type="text" placeholder="Enter the Validation Code">
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-3">
        <a href="{% url 'user_dashboard' %}" class="btn btn-primary">Submit</a>
      </div>
    </div>
  </div>
{% endblock %}
