{% extends "envportal/base.html" %}
{% block title %} - Find Resources {% endblock %}
{% block breadcrumbs %}
    <li class="active">Find Resources</li>
{% endblock %}
{% block content %}
	<!-- Simple search bar -->
	<!-- TODO: Add icon for search button or convert to word -->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control"  placeholder="Zipcode / City / Address" >
						<span class="input-group-addon">
							<a href="find_resources_search" class="btn btn-default btn-xs">Submit</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
{% endblock %}
