{% extends "envportal/base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
  <!-- Featured Events Jumbotron -->
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Featured Events</h1>
        <div class="row">
          <div class="col-lg-4">
            <p>Come plant trees with RIT!</p>
            <p><a href="{% url 'event_more_info' %}" class="btn btn-primary btn-lg">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Featured Events Jumbotron -->

    <!-- Begin Option Buttons -->
    <!-- TODO make this dynamic - the descriptions move if the browser is smaller -->
    <div class="container-fluid">
      <div class="btn-group btn-group-justified">
        <a href="{% url 'find_resources' %}" class="btn btn-info">Find Resources</a>
        <a href="{% url 'calendar' %}" class="btn btn-success">Find Events</a>
        <a href="{% url 'create_event' %}" class="btn btn-danger">Create an Event</a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="panel col-lg-4">
        <div class="panel-body">
          Don't know how to best help the environment? Follow this link to learn about resources in your area to learn and volunteer.
        </div>
      </div>
      <div class="panel col-lg-4">
        <div class="panel-body">
          Click this link to find events designed to benefit the environment in your area.
        </div>
      </div>
      <div class="panel col-lg-4">
        <div class="panel-body">
          Have an idea for an event you haven't seen on the site? Click here to create your own event! An account is required for this action, so you will be redirected to a login page if you are not already logged in.
        </div>
      </div>
    </div>
<!-- End Option Buttons -->
{% endblock %}