{% extends "envportal/base.html" %}
{% block title %} - Log In {% endblock %}
{% block breadcrumbs %}
    <li class="active">Log In</li>
{% endblock %}
{% block content %}
  <div class="container-fluid col-lg-5">
    <form class="form-horizontal" method="post" action="log_in">
      {% csrf_token %}
      <fieldset>
        <legend>Log In</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">Email</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-3 control-label">Password</label>
          <div class="col-lg-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-3">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" value="login" class="btn btn-primary">Submit</button>
        </div>
      </div>
      </fieldset>
    </form>
  </div>
  {% endblock %}
