{% extends 'envportal/base.html' %}
{% block title %} - Confirm Event RSVP{% endblock %}
{% block breadcrumbs %}
      <li><a href="{% url 'calendar' %}">Calendar</a></li>
	  <li><a href="{% url 'event_more_info' %}">Come plant trees with RIT</a></li>
      <li class="active">RSVP Confirmation</li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <h3>You have signed up to attend the event "Come plant trees with RIT!"</h3>

      <p>We will send you an email reminder when the date draws near.</p>

      <p>You can return to the event listings by clicking the "Okay" button below.</p>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-1">
          <a href="{% url 'calendar' %}" class="btn btn-primary">Okay</a>
        </div>
      </div>
    </div>
{% endblock %}