{% extends "envportal/base.html" %}
{% block title %} - User Dashboard{% endblock %}
{% block content %}
	<div class="container-fluid col-lg-10">
		<form class="form-horizontal">
			<fieldset>
				<legend>My Events</legend>
				<button href="{% url 'create_event' %}" class="btn btn-default">Create Event</button>
				<!-- Container for My Events -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#created" data-toggle="tab" aria-expanded="true">Created</a></li>
					<li><a href="#attending" data-toggle="tab" aria-expanded="false">Attending</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="created">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: 1:00PM - 4:00PM  Date: Wednesday, March 30th Location: RIT, 89 Lomb Memorial Drive, Rochester, NY 14623</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="{% url 'edit_event' %}" class="btn btn-primary">Edit Event</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="attending">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: 1:00PM - 4:00PM /n Date: Wednesday, March 30th	/n Location: RIT, 89 Lomb Memorial Drive, Rochester, NY 14623</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="{% url 'event_more_info' %}" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
  {% endblock %}
