{% extends "envportal/base.html" %}
{% block title %} - User Dashboard{% endblock %}
{% block content %}
	<div class="container-fluid col-lg-10">
		<form class="form-horizontal">
			<fieldset>
				<legend>My Events</legend>

				<!-- Container for My Events -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#created" data-toggle="tab" aria-expanded="true">Created</a></li>
					<li><a href="#attending" data-toggle="tab" aria-expanded="false">Attending</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="created">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: ~~~	Date: ~~~	Location: ~~~</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="edit_events.html" class="btn btn-primary">Edit Event</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="attending">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: ~~~	Date: ~~~	Location: ~~~</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="event_more_info.html" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
  {% endblock %}
