<!DOCTYPE html>
<html>
  <head>
    <!-- ************************* COPY FROM HERE ************************* -->
    <!-- Change this title to whatever your page is -->
    <title>EnvPortal - Find Events</title>
    <link rel="stylesheet" href="./css/bootstrap.css" media="screen">
    <!-- ************************* TO HERE ************************* -->
  </head>
  <body>
    <!-- ************************* COPY FROM HERE ************************* -->
    <!-- This is the navigation bar. This should be on every page -->
    <!-- If you change anything here BE SURE to copy it over to EVERY other page -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">EnvPortal</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="calendar.html">Find an Event <span class="sr-only">(current)</span></a></li>
            <li><a href="find_resources.html">Find Resources</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="log_in.html">Log In</a></li>
            <li><a href="sign_up.html">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Breadcrumbs: add your page to this list -->
    <ul class="breadcrumb">
      <li><a href="home.html">Home</a></li>
      <li class="active">Events</li>
    </ul>
    <!-- End Breadcrumbs -->
    <!-- ************************* TO HERE ************************* -->
	<div class="container-fluid">
		<div class="event">
		<h2>Come plant trees with RIT</h2>
        <div class="row">
          <div class="col-md-4">
			<h3>About:<p>Come plant trees with RIT!</p></h3>            
			<h3>When: <p>Wednesday, March 30th, 1:00PM - 4:00PM </p></h3>
			<h3>Where: <p></p></h3>
			</br>
            <p><a class="btn btn-primary btn-md"  href="event_more_info.html" >Learn more</a></p>
			<p><a class="btn btn-primary btn-md"  href="rsvp_confirmation.html" >RSVP now</a></p>
          </div>
		  
        </div>
		</div>
	</div>
  </body>
</html>
