{% extends 'envportal/base.html' %}
{% load static %}
{% block title %} - Better Than Dirt{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url 'find_resources' %}">Resources</a></li>
<li class="active">Better Than Dirt</li>
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="event">
      <h2>Better Than Dirt</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Address: <p>923 Fertilizer Drive</p></h3>            
          <h3><img src="{% static 'envportal/img/map.png' %}"/></h3>
        </div>
      </div>
		</div>
	</div>
{% endblock %}
