{% extends 'envportal/base.html' %}
{% load static %}
{% block title %} - Trash Into Treasure{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url 'find_resources' %}">Resources</a></li>
<li class="active">Trash Into Treasure</li>
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="event">
      <h2>Trash Into Treasure</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Address: <p>4343 Recycling Lane</p></h3>            
          <h3><img src="{% static 'envportal/img/map.png' %}"/></h3>
        </div>
      </div>
		</div>
	</div>
{% endblock %}
