<!DOCTYPE html>
<html>
<head>
	<!-- ************************* COPY FROM HERE ************************* -->
	<!-- Change this title to whatever your page is -->
	<title>EnvPortal - My Home Page</title>
	<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- ************************* TO HERE ************************* -->
</head>
<body>
	<!-- ************************* COPY FROM HERE ************************* -->
	<!-- This is the navigation bar. This should be on every page -->
	<!-- If you change anything here BE SURE to copy it over to EVERY other page -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html">EnvPortal</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="calendar.html">Find an Event</a></li>
					<li><a href="find_resources.html">Find Resources</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="user_dashboard.html">My Profile</a></li>
					<li><a href="home.html">Sign Out</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Breadcrumbs: add your page to this list -->
	<ul class="breadcrumb">
		<li><a href="home.html">Home</a></li>
		<li class="active">My Dashboard</li>
	</ul>
	<!-- End Breadcrumbs -->
	<!-- ************************* TO HERE ************************* -->
	<!-- Title Bar for My Events -->
	<div class="container-fluid col-lg-10">
		<form class="form-horizontal">
			<fieldset>
				<legend>My Events</legend>

				<!-- Container for My Events -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#created" data-toggle="tab" aria-expanded="true">Created</a></li>
					<li><a href="#attending" data-toggle="tab" aria-expanded="false">Attending</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="created">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: ~~~	Date: ~~~	Location: ~~~</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="edit_events.html" class="btn btn-primary">Edit Event</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="attending">
						<div class="panel panel-default">
							<div class="panel-heading">Come Plant Trees With RIT!</div>
							<div class="panel-body">
								<label for="timeDateLoc" class="col-lg-4 control-label">Time: ~~~	Date: ~~~	Location: ~~~</label>
								<div class="col-rg-4 col-rg-offset-4">
									<a href="event_more_info.html" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</body>
</html>
